@using Umbraco.Extensions.Models
@inherits UmbracoTemplatePage
@{
    Layout = "umbLayout.cshtml";

    // If the editor has not explicitly provided the "Page title" property page 
    // then just show the name of the page otherwise show the provided title
    var pageTitle = string.IsNullOrWhiteSpace(CurrentPage.Title)
        ? CurrentPage.Name
        : CurrentPage.Title;

    // Get the news items strongly typed.
    var homePage = Model.Content.AncestorOrSelf<UmbHomePage>();
    var newsOverview = homePage.FirstChild<UmbNewsOverview>();
    var newsItems = newsOverview.Children<UmbNewsItem>().OrderByDescending(x => x.PublishDate).ThenByDescending(x => x.CreateDate).Take(5);
}
<!-- Main -->
<div id="main-wrapper">
    <div id="main" class="container">
        <div class="row">
            <div class="12u skel-cell-mainContent">
                <div class="content">
                    <!-- Content -->
                    <article class="is-page-content">
                        <header>
                            <h2>@pageTitle</h2>
                        </header>

                        @foreach (var item in newsItems)
                        {

                            // If the editor has not explicitly provided the "Page title" property page 
                            // then just show the name of the page otherwise show the provided title
                            var title = string.IsNullOrWhiteSpace(item.Title) 
                                ? item.Name 
                                : item.Title;


                            // If the editor has not explicitly set the publishDate property then show the create date
                            var dateTime = item.PublishDate == default(DateTime) 
                                ? item.CreateDate 
                                : item.PublishDate;
                            
                            <section>
                                <h3><a href="@item.Url">@title</a></h3>
                                <ul class="meta">
                                    <li class="timestamp">@dateTime.ToString("f")</li>
                                </ul>

                                @if (item.Image != null && string.IsNullOrWhiteSpace(item.Image.ToString()) == false)
                                {
                                    <a href="@item.Url" class="image image-full"><img src="@item.Image" alt="" /></a>
                                }

                                <a href="@item.Url" class="button">Continue Reading</a>
                            </section>
                        }
                    </article>
                    <!-- /Content -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="12u">
                @{ Html.RenderPartial("umbFeatures"); }
            </div>
        </div>
    </div>
</div>
<!-- /Main -->
